.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.dropdown .selected::after,
.dropdown.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}

.dropdown{
    font: bold 15px/18px "Roboto Condensed", sans-serif;
	position: relative;
	width: 190px;
	border: 3px solid #e8ebec;
	cursor: pointer;
	background: #fff;
	border-radius:50px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}


.dropdown.open{
	z-index: 2;
}

.dropdown:hover{
    box-shadow: 8px 10px 28px rgba(53, 57, 64, 0.5);
}

.dropdown.focus{
	box-shadow: 0 0 5px rgba(245, 79, 41, 0.5);
}



.dropdown .carat{
	position: absolute;
	right: 12px;
	top: 50%;
	margin-top: -4px;
	border: 6px solid transparent;
	border-top: 8px solid #f54f29;
}

.dropdown.open .carat{
	margin-top: -10px;
	border-top: 6px solid transparent;
	border-bottom: 8px solid #f54f29;
}

.dropdown.disabled .carat{
	border-top-color: #999;
}



.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

.dropdown select{
	position: absolute;
	left: 0px;
	top: 0px;
}

.dropdown.touch .old{
	width: 100%;
	height: 100%;
}

.dropdown.touch select{
	width: 100%;
	height: 100%;
	opacity: 0;
}



.dropdown .selected,
.dropdown li{
	display: block;
	font-size: 18px;
	line-height: 1;
	color: #f54f29;
	
	padding: 9px 12px;
	overflow: hidden;
	white-space: nowrap;
}
.dropdown li{
color: #cdcdcd;
}
.dropdown.disabled .selected{
	color: #999;
}

.dropdown .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: auto;
	
	border-radius: 0 2px 2px 0;
	box-shadow: inset -55px 0 25px -20px #fff;
}



.dropdown div{
	position: absolute;
	height: 0;
	left: -1px;
	right: -1px;
	top: 100%;
	margin-top: -1px;
	background: #fff;
	border: 1px solid #ccc;
	border-top: 1px solid #eee;
	border-radius: 0 0 3px 3px;
	overflow: hidden;
	opacity: 0;
}



.dropdown.open div{
	opacity: 1;
	z-index: 2;
}



.dropdown.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	
	box-shadow: inset 0 -50px 30px -35px #fff;
}

.dropdown.scrollable.bottom div::after{
	opacity: 0;
}



.dropdown ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
    padding-left: 0;
}

.dropdown.scrollable.open ul{
	overflow-y: auto;
}



.dropdown li{
	list-style: none;
	padding: 8px 12px;
}



.dropdown li.focus{
	background: #f54f29;
	position: relative;
	z-index: 3;
	color: #fff;
}

.dropdown li.active{
	font-weight: 700;
}