ul { list-style: none; }
a { text-decoration: none; color: #30353c;}
body {
   font-family: 'Dosis', sans-serif;
}
#menu-wrapper {
    overflow: hidden;
    max-width: 100%;
    cursor: pointer;
}


#menu-wrapper #hamburger-menu {
    position: relative;
    width: 25px;
    height: 20px;
    margin: 15px;
}

#menu-wrapper #hamburger-menu span {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: #f54f29;
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

#menu-wrapper #hamburger-menu span:nth-child(1) {
    top: 0;
}
#menu-wrapper #hamburger-menu span:nth-child(2) {
    top: 9px;
}
#menu-wrapper #hamburger-menu span:nth-child(3) {
    top: 18px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
#menu-wrapper #hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    left: -60px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#menu-container .menu-list .menu-submenu {
    padding-top: 20px;
    padding-bottom: 20px;
}
#menu-container .menu-list .menu-submenu a{
     color: #b5babc
}
#menu-container .menu-list .menu-submenu a:hover{
    color: #f54f29;
}
#menu-container .menu-list {
    padding-left: 0;
    display: block;
    position: absolute;
    width: 100%;
    max-width: 450px;
    background: white;
    box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
    left: -100%;
}

#menu-container .menu-list li.accordion-toggle, #menu-container .menu-list .menu-login {
    font-size: 16px;
    padding: 20px;
    text-transform: uppercase;
    border-top: 1px solid #dbdcd2;
}
.no-accordion{
        font-size: 16px;
    padding: 20px;
    text-transform: uppercase;
    border-top: 1px solid #dbdcd2;
}
#menu-container .menu-list li:first-of-type {
    border-top: 0;
}

.accordion-toggle, .accordion-content {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    letter-spacing: 1px;
}

  .accordion-content {
    display: none;
}

.accordion-toggle a:before, .accordion-toggle a:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 15px;
    height: 2px;
    margin-top: -1px;
    background-color: #353940;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s ease-out;
}

.accordion-toggle a:before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 1;
    z-index: 2;
}

.accordion-toggle.active-tab {
  background: #f54f29;
    color: #fff;
  transition: all 0.3s ease;
}
.accordion a:hover{
    color: #f54f29;
}
.accordion a.active{
    color: #fff;
}

.accordion-toggle a.active:before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #fff !important;
}

.accordion-toggle a.active:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #fff !important;
    opacity: 0;
}
#menu-container{
    display: none;
}
@media only screen and (max-width: 991px) {
    #menu-container{
        display: block;
        float: right;
    }
  
    .header_contact_m{
       display: none; 
    }
  

.order_m {
                    text-transform: uppercase;
                    background: #f54f29;
                    font: bold 15px/18px "Roboto Condensed", sans-serif;
                    padding: 17px 0 0;
                    border: none;
                    border-radius: 50px;
                    box-shadow: 10px 15px 28px rgba(245, 79, 41, 0.5);
                    transition: all 0.3s linear;
        width: 200px;
 padding: 20px;
        margin: 2px auto;
                   
                }
                        .order_m:hover {
                        color: #fff;
                        background: #353940;
                        box-shadow: 8px 10px 28px rgba(53, 57, 64, 0.5);
                    }
    .order_m a {
                        color: #fff;
                    }
    .header_contact_m{
         display: flex;
        justify-content: space-between;
         border-top: 1px solid #dbdcd2;  
    }  
    .header_contact_m{
         padding: 20px;
    }
    .header_link_m{
          display: flex;
        justify-content: space-between;
         border-top: 1px solid #dbdcd2;
    }
    .header_link_m li{
      display: inline;
        padding: 20px;
       
    }
    .header_link_m li:nth-child(4){
      padding-right: 40px;

    }
    .header_contact_m li:nth-child(2){
      padding-right: 40px;

    }
}
@media only screen and (max-width: 767px) {
    

}
@media only screen and (max-width: 440px) {
    .header_contact_m{
         flex-direction: column;
    }  
    .header_contact_m li{
        margin: 10px 0;
    }


}
