@charset "UTF-8";
body{
    padding-right:0px !important;
}
.slick-slider {
	position: relative;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
    padding: 20px 0;
    
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

.slick-track:before, .slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

.slick-loading .slick-list {
	background: #fff url("./../images/ajax-loader.gif") center center no-repeat;
}

/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	height: 60px;
	width: 60px;
    border-radius: 50%;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	background: none;
	color: transparent;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	padding: 0;
	border: none;
	outline: none;
	z-index: 999;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	outline: none;
	color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
	opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 40px;
	line-height: 1;
	color: #bd2529;
	opacity: 0.75;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev {
	left: 0;
}

[dir="rtl"] .slick-prev {
	left: auto;
	right: 0;
}

.slick-prev:before {
	content: "←";
}

[dir="rtl"] .slick-prev:before {
	content: "→";
}

.slick-next {
	right: 0;
}

[dir="rtl"] .slick-next {
	left: 0;
	right: auto;
}

.slick-next:before {
	content: "→";
}

[dir="rtl"] .slick-next:before {
	content: "←";
}

/* Dots */
.slick-slider {
	margin-bottom: 30px;
}

.slick-slider *:focus {
	outline: 0;
}
.header-slider .slick-dots{
        z-index: 9999;
    position: absolute;
    bottom: -10px;
}
.slick-dots {
	display: block;
	margin-top: 20px;
	list-style: none;
	width: 100%;
	padding: 0;
	text-align: center;
	font-size: 0;
	line-height: 0;
	word-spacing: 0;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	height: 20px;
	width: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button {
	background: none;
	border: none;
	display: inline-block;
	padding: 0;
	outline: none;
	outline-offset: 0;
	cursor: pointer;
	-webkit-appearance: none;
	width: 8px;
	height: 8px;
	border-radius: 100px;
	background: #ababab;
}

.slick-dots li button::-moz-focus-inner {
	border: none;
	padding: 0;
}

.slick-dots li.slick-active button,
.slick-dots li:hover button {
	background: #93c83f;
}

.slick-dots-variant-1 .slick-dots li button {
	height: 12px;
	width: 12px;
	background: #3d6143;
	transition: .33s all ease;
	position: relative;
}

.slick-dots-variant-1 .slick-dots li button:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 19px;
	height: 19px;
	border: 4px solid #93c83f;
	opacity: 0;
	border-radius: 50%;
	-webkit-transform: translate(-50%, -50%) scale(0);
	transform: translate(-50%, -50%) scale(0);
	transition: 180ms ease-in-out;
}

.slick-dots-variant-1 .slick-dots li.slick-active button,
.slick-dots-variant-1 .slick-dots li:hover button {
	background: transparent;
}

.slick-dots-variant-1 .slick-dots li.slick-active button:after,
.slick-dots-variant-1 .slick-dots li:hover button:after {
	opacity: 1;
	-webkit-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
}









.slick-dots-variant-2 .slick-dots li button {
	height: 12px;
	width: 12px;
	background: #fff;
	transition: .33s all ease;
	position: relative;
}

.slick-dots-variant-2 .slick-dots li button:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 19px;
	height: 19px;
	border: 4px solid #fff;
	opacity: 0;
	border-radius: 50%;
	-webkit-transform: translate(-50%, -50%) scale(0);
	transform: translate(-50%, -50%) scale(0);
	transition: 180ms ease-in-out;
}

.slick-dots-variant-2 .slick-dots li.slick-active button,
.slick-dots-variant-2 .slick-dots li:hover button {
	background: transparent;
}

.slick-dots-variant-2 .slick-dots li.slick-active button:after,
.slick-dots-variant-2 .slick-dots li:hover button:after {
	opacity: 1;
	-webkit-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
}
.finance-s-carousel {
	position: relative;
	padding-bottom: 60px;
}

.finance-s-carousel:after {
	content: '';
	position: absolute;
	top: 80px;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 101vw;
	background: #1e3953;
}

.finance-s-carousel > * {
	position: relative;
	z-index: 2;
}

.finance-s-carousel .slick-slider {
	margin-bottom: 0;
}

.finance-s-carousel .slick-dots {
	margin-top: 30px;
}

.finance-s-carousel .slick-slider + .slick-slider {
	margin-top: 40px;
}

@media (min-width: 768px) {
	.finance-s-carousel {
		padding-bottom: 90px;
	}
}

.slick-slider-images .item {
	padding: 0 15px;
	text-align: right;
}

.slick-slider-images .item img {
	display: inline-block;
	transform: scale(0.75);
	transform-origin: 100% 50%;
	will-change: transform;
	cursor: pointer;
	transition: .5s all ease;
}

.slick-slider-images .item.slick-center {
	text-align: center;
}

.slick-slider-images .item.slick-center img {
	transform-origin: 50% 50%;
	transform: scale(1);
}

.slick-slider-images .item.slick-center + * {
	text-align: left;
}

.slick-slider-images .item.slick-center + * img {
	transform-origin: 0 50%;
}
.ui-to-top {
	width: 40px;
	height: 40px;
	font-size: 18px;
	line-height: 38px;
	border-radius: 50%;
	position: fixed;
	right: 15px;
	bottom: 15px;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	z-index: 20;
	transition: .3s all ease;
	box-shadow: 0 0 1px 0px rgba(30, 57, 83, 0.3);
	transform: translateY(100px);
}

.ui-to-top, .ui-to-top:active, .ui-to-top:focus {
	color: #fff;
	background: #bd2529;
}

.ui-to-top:hover {
	color: #fff;
	background: #3d6143;
	box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.4);
}

.ui-to-top:focus {
	outline: 0;
}

.ui-to-top.active {
	transform: translateY(0);
}

.mobile .ui-to-top,
.tablet .ui-to-top {
	display: none !important;
}
