@font-face {
    font-family: Gothic-B;
    src: url(../fonts/Trump-Gothic-Pro/TrumpGothicPro-Bold.ttf);
}

 .bs-countdown-timer {

	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
     float: left;
}

.bs-countdown-timer .numcard {
    width: 80px;
    height: 80px;
	margin: 0 15px;
	background: #308fca;
    border-radius:5px;
    text-align: center;
}
.bs-countdown-timer .numcard-number {
    font-family: Gothic-B;
	font-size: 60px;
	line-height: 1.3;
	display: block;
    color: #fff;
    
}
.bs-countdown-timer .numcard .mins, .bs-countdown-timer .numcard .hours{
    position: relative;
}
.bs-countdown-timer .numcard .mins:after{
    content: ':';
    position: absolute;
    color: #e7e7e5;
    top: -8px;
    right: -20px;
}
.bs-countdown-timer .numcard .hours:after{
    content: ':';
    position: absolute;
    color: #e7e7e5;
    top: -8px;
    right: -20px;
}
@media only screen and (max-width:767px){
    .bs-countdown-timer .numcard-number{
        font-size: 30px;
    }
    .bs-countdown-timer .numcard{
        width: 40px;
    height: 40px;
    }
    .bs-countdown-timer .numcard .hours:after, .bs-countdown-timer .numcard .mins:after{
        top: -3px;
    }
    
}

